<!doctype html>
<html lang="lt">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Neapykantos/įžeidžios kalbos atpažintuvas">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Mindaugas Petkevičius">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156821047-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-156821047-1');
    </script>

    {% block og %}

    {% endblock %}

    <title>{{ title }} | VDU</title>
</head>
<body class="small-weight">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand header-text" href="/">
        <img src="/img/VDU_logo.png" height="80" alt="">
    </a>
</nav>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Įspėjimas</strong> Negalima remtis tik įrankio pateiktu rezultatu.
    Rezultatas gali būti klaidingas ir galutinį sprendimą turėtų priimti specialistas.
    <strong>Įrankis vertina bendrą teksto toną, o ne atskirus žodžius.</strong>
    Tikslumas priklauso nuo turimų apmokinimo tekstų.
</div>

{% if (msg) %}
<div class="alert alert-success" role="alert">
    {{ msg }}
</div>
{% endif %}


{% block content %}

{% endblock %}

<footer class="page-footer font-small blue pt-4 mt-4 footer-color">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="small-weight">Vytauto Didžiojo universitetas</h5>
                <p>K. Donelaičio g. 58, 44248, Kaunas</p>
            </div>
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="small-weight">Projektas „Semantika 2“</h5>
                <p>(Nr. 02.3.1-CPVA-V-527-01-0002)</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">2018-2020</div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    function analyze() {
        const button = document.getElementById('button');
        const text = document.getElementById("text").value;

        const success_text = document.querySelector("#success > div");
        const failed_text = document.querySelector("#failed > div");

        success_text.hidden = true;
        failed_text.hidden = true;

        let xhttp = new XMLHttpRequest();

        xhttp.open("POST", "text", true);
        xhttp.onreadystatechange = function () {
            if (this.readyState !== XMLHttpRequest.DONE) {
                return;
            }
            if (this.status === 200) {
                let resp = JSON.parse(this.responseText);
                let text = resp.prediction ? "Tekste gali būti įžeidžios kalbos" : "Tekste nerasta įžeidžios kalbos";
                let percentage = Math.floor(resp.score * 100);
                success_text.classList = resp.prediction ? "alert alert-danger" : "alert alert-success";
                success_text.innerText = `${text}, tikimybė: ${percentage}%`;
                success_text.hidden = false;
            } else {
                let rspt = this.responseText;
                failed_text.innerText = `Įvyko klaida: ${rspt}`;
                failed_text.hidden = false;
            }
            button.disabled = false;
            button.innerHTML = "Analizuoti"
        };
        xhttp.send(text);

        button.disabled = true;
        button.innerHTML = "<span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span>  Analizuojama"
    }
</script>
</body>
</html>